<% include ../partials/header %>

<div class="container background">
    <div class="topbar">
        <div class="categories">
            <div class="ui fixed inverted menu">
                <span class="left-spacing">

                </span>
                <% allCategories.forEach(function (title) { %>
                <a class="ui inverted item" href="/blogs/category/<%= title.name%>">
                    <%= title.name.charAt(0).toUpperCase() +
                    title.name.slice(1) %></a>
                <% }) %>
                <% if(currentUser){ %>
                <div class="ui simple right dropdown item">
                    <%= currentUser.username.charAt(0).toUpperCase()+
                        currentUser.username.slice(1)%>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item">My Profile</div>
                        <div class="item ">
                            <a style="color: black" href="/logout">Logout</a>
                        </div>

                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>


    <div class="allTopicsContainer">
        <% allCategories.forEach(function (category) { %>
        <header class="category-title">
            <div class="category-content">
					<span class="borderBottom">
						<h2 class="ui header">
                            <a href="#">
                                <%= category.name.charAt(0).toUpperCase() +
                                category.name.slice(1) %>
                            </a>
                        </h2>
					</span>
                <a class="category-more" href="/blogs/category/<%= category.name %>">
                    <span class="textUppercase">more</span>
                </a>
            </div>
        </header>
        <div class="ui three column grid category-content">

            <% for(var i = 0; i < 3 ; i++){ %>
            <% if(category.blogs.length != 0 && category.blogs[i]) { %>

            <div class="column category-blog">
                <a class="ui card" href="/blogs/<%= category.blogs[i]._id %>">
                    <div class="content">
                        <div class="header blog-title">
                            <%= category.blogs[i].title.charAt(0).toUpperCase() +
                            category.blogs[i].title.slice(1) %>
                        </div>
                        <div class="meta">
                            <span class="right floated time">2 days ago</span>
                            <span class="category ">
                                    <%= category.name.charAt(0).toUpperCase()
                                    + category.name.slice(1) %>
                                </span>
                        </div>
                        <div class="blog-description">
                            <p>
                                <%= category.blogs[i].content.substr(0, 150) %>...
                            </p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="right floated author">
                            <img class="ui avatar image" src="../Assets/if_9_2694135.svg"> Matt
                        </div>
                    </div>
                </a>
            </div>
            <% } else { %>
            <div class="column category-blog">
                <a class="ui card " href="/blogs/new">
                    <div class="content ">
                        <div class="blog-description">
                            <p>
                                It looks empty here. Click to add a new post.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
            <% } %>
        </div>
        <% }) %>
    </div>
</div>


<% include ../partials/footer %>