<% include ../partials/header%>

<div class="container">
    <div class="topbar">
        <div class="categories">
            <div class="ui huge secondary inverted pointing menu">
                <% topics.forEach(function (title) { %>
                <a class="ui inverted green button"> <%= title.name%></a>
                <% })%>
                <% if(currentUser){%>
                <div class="right menu">
                    <div class="item">
                        <a href="#" style="color: green">Signed In as <%= currentUser.username %></a>
                    </div>
                    <div class="item">
                        <a class="ui green button" href="/logout">Logout</a>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>




    <div class="allTopicsContainer">
        <% allBlogs.forEach(function (topic) { %>
        <header class="category-title">
            <div class="category-content">
					<span class="borderBottom">
						<h2 class="ui header">
                            <a href="#">
                                <%= topic.name.charAt(0).toUpperCase() +
                                topic.name.slice(1) %>
                            </a>
                        </h2>
					</span>
                <a class="category-more" href="/blogs/category/<%= topic.name%>">
                    <span class="textUppercase">more</span>
                </a>
            </div>
        </header>
        <div class="ui three column grid category-content">
            <% for(var i = 0; i < 3 ; i++){ %>
            <div class="column category-blog">
                <a class="ui card" href="/blogs/<%= blogs[i]._id %>">
                    <div class="content">
                        <div class="header blog-title"><%= blogs[i].title.charAt(0).toUpperCase() + blogs[i].title.slice(1) %></div>
                        <div class="meta">
                            <span class="right floated time">2 days ago</span>
                            <span class="category"><%= topic.name.charAt(0).toUpperCase() + topic.name.slice(1) %></span>
                        </div>
                        <div class="blog-description">
                            <p><%= blogs[i].content.substr(0,150) %>...</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="right floated author">
                            <img class="ui avatar image" src="../Assets/if_9_2694135.svg"> Matt
                        </div>
                    </div>
                </a>
            </div>
            <%}%>
        </div>
        <% })%>
    </div>
</div>





<% include ../partials/footer%>