
<% include ../partials/header %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="ui container" style="margin-top: 2em;">

    <div class="ui secondary pointing menu">
        <a href="#" class="item"><h3><em>Posted by </em><%= blog.author.username%></h3></a>
        <div class="right menu">
            <h3 class="item"><%= blog.createdAt.toDateString() %></h3>
        </div>
    </div>

    <img class="ui centered rounded image" src="<%= blog.image %>">

    <h1 class="ui centered large header"><%= blog.title %></h1>

    <div class="ui text container">
        <p id="content"><%- blog.content.replace(/\n/g, '<br>')%></p>
    </div>


    <h3 class="ui dividing header">Comments</h3>

    <div class="ui threaded comments container" style="padding: 15px">

        <% blog.comments.forEach(function(comment){ %>

        <div class="comment">

            <a class="avatar">
                <img src="../matt.jpg">
            </a>

            <div class="content">
                <a class="author"><%= comment.author.username %></a>
                <div class="metadata">
                    <span class="date"><%= comment.createdAt.toDateString() %></span>
                </div>
                <div class="text"><%= comment.text %></div>
                <div class="actions">
                    <a class="reply" id="reply" href="">Reply</a>
                </div>
            </div>

            <!--<div class="slidingDiv">
                <form action="/commentReply/<!%= comment._id %! >/newComment" method="post" class="ui reply form">
                    <div class="field">
                        <textarea name="replyText" placeholder="Enter your reply..."></textarea>
                    </div>
                    <input type="submit" class="ui green labled submit icon button" value="Post reply">
                </form>
            </div>-->

            <div class="comments">
                <% comment.replies.forEach(function(eachReply){ %>
                <div class="comment">
                    <a class="avatar">
                        <img src="../matt.jpg">
                    </a>
                    <div class="content">
                        <a class="author"><%= eachReply.author.username %></a>
                        <div class="metadata">
                            <span class="date"><%= eachReply.createdAt.toDateString() %></span>
                        </div>
                        <div class="text"><%= eachReply.text %></div>
                        <div class="actions">
                            <a class="reply" href="">Reply</a>
                        </div>
                    </div>
                    <div class="slidingDiv">
                        <form action="/commentReply/<%= comment._id %>/newComment" method="post" class="ui reply form">
                            <div class="field">
                                <textarea name="replyText" placeholder="Enter your reply..."></textarea>
                            </div>
                            <input type="submit" class="ui green labled submit icon button" value="Post reply">
                        </form>
                    </div>
                </div>
                <% }) %>
            </div>
            <% }) %>


            <form action="/blogs/<%= blog.id %>/newComment" method="post" class="ui reply form">
                <div class="field">
                    <textarea name="commentText" placeholder="Enter your comment..."></textarea>
                </div>
                <input type="submit" class="ui green labled submit icon button" value="Post Comment">
                <i class="icon edit"></i>
                </input>
            </form>
        </div>
    </div>

</div> <!-- Main container -->


<script type="text/javascript">
    $(document).ready(function(){

        $(".slidingDiv").hide();
        $("#reply").show();

        $('#reply').click(function(){
            $(".slidingDiv").slideToggle();
        });

    });
</script>


<% include ../partials/footer %>